.nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 22px;
    font-weight: 500;

}
.active {
    color: #a50091;
}